@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
img{
  max-width: 100%;
  height: auto;
}
.navbar-nav {
  margin: 0px 185px;
  background-color: transparent;
}
.srt-btn {
  z-index: 1;
  border: none;
  position: relative;
  padding: 15px;
  border-radius: 30px;
  display: inline-block;
  color: white;
  background: linear-gradient(44.44deg, #ed2775 10.79%, #ff7448 95.18%);
  /* transition: var(--transition); */
  /* box-shadow: 0px 12px 35px rgb(237 39 117 / 25%); */
  font-weight: 500;
}
.paka-nav{
  background-color:transparent !important;
}
.navbar-area {
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  position: absolute;
  /* background: url(./Images/banner-bg-2.jpg); */
}
.hero-section {
  background: url(./Images/banner-bg-2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 80px;
}
.hero-section-content {
  max-width: 635px;
  margin-left: auto;
  color: white;
}
.hero-section-content span {
  font-size: 17px;
  font-weight: 500;
  background: #a97dee;
  color: white;
  display: inline-block;
  padding: 10px 25px;
  margin-bottom: 20px;
  border-radius: 50px;
}
.hero-section-content h1 {
  font-size: 48px;
  line-height: 1.4;
  margin-bottom: 15px;
  font-weight: 700;
}
.hero-section-content .hero-btn {
  margin-top: 30px;
}
.hero-section-content .hero-btn a {
  text-decoration: none;
}


/* Second layer Div */
.second-layer{
  padding:100px 0px;
}
.second-layer-title{
  text-align: center;
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 500;
}

/* Third Layer */
.third-layer{
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 100px;
}
.third-layer h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 15px;
}
.third-layer p{
  font-size: 14px;
  color: #716c80;
  margin-bottom: 15px;
  margin-top: 0;
  line-height: 1.8;
}
.third-layer p:last-child{
  margin-bottom: 0;

}

.third-layer .list{
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;  
}
.third-layer .list li{
  position: relative;
  margin-bottom: 30px;
  padding-left: 75px;
}
.third-layer .list li .icon{
    width: 55px;
    height: 55px;
    background: linear-gradient(180deg, #ED2775 0%, #FF7448 100%);
    position: absolute;
    text-align: center;
    color: white;
    font-size: 25px;
    left: 0;
    top: 0;
}
.third-layer .list li .icon.i3{
  background: linear-gradient(247.32deg, #4400B2 0%, #8B4FEB 70.53%);
}
.third-layer .list li .icon i{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.circle{
  border-radius: 50%;
}
.third-layer .list li h3{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}
.third-layer .btn-con{
  margin-top: 45px;
}
.third-layer .btn-con .srt-btn{
  margin-right: 15px;
  text-decoration: none;
}
.third-layer .btn-con .link-btn{
  display: inline-block;
  font-weight: 600;
  position: relative;
  text-decoration: underline;
  color: #716c80;
  font-size: 18px;
  transition: .5s;
}
.third-layer .btn-con .link-btn:hover{
  text-decoration: none;
  color: #ED2775;
  transition: .5s;
}
.third-layer .image-wrapper{
  position: relative;
  z-index: 1;
}
img{
  max-width: 100%;
  height: auto;
}
.third-layer .image-wrapper .image-blur{
  position: absolute;
  right: 0;
  top: 200px;
  z-index: -1;
}
    

/* Six Div */
.six{
  background: url(Images/six-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.six .container-fluid{
  padding-left: 50px;
}
.six-content{
  max-width: 620px;
  padding-right: 0;
  padding-left: 30px;
  margin-right: auto;
  margin-left: 0;
}
.six-content span{
  margin-bottom: 10px;
  font-size: 14px;
  display: inline-block;
}
.six-content h2{
  line-height: 1.4;
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 700;
}
.six-content p{
  line-height: 1.8;
  margin-bottom: 15px;
  font-size: 14px;
}
.six-content .srt-btn{
  background:linear-gradient(247.32deg, #4400B2 0%, #8B4FEB 70.53%) ;
  text-decoration: none;
  padding: 12px 35px;
}


/* Seven Div */




/* Twelve Div */
.twelve{
  padding-bottom: 100px;
}
.twelve-box{
  padding: 50px 70px;
  position: relative;
  z-index: 11;
  /* background: linear-gradient(221.69deg, #50E1E4 0%, #9A60EA 101.01%); */
}
.twelve-box.gradient{
  background: linear-gradient(247.32deg, #4400B2 0%, #8B4FEB 70.53%);
  margin-bottom: 0;
}
.twelve-content{
  max-width: 750px;
}
.twelve-content span{
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-bottom: 15px;
}
.twelve-content h2{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.8;
  color: white;
}
.twelve-content-form{
  position: relative;
}
.twelve-content  form .input-name{
   width: 100%;
    height: 80px;
    display: block;
    padding-left: 25px;
    background-color: white;
    color:#716c80;
    border-radius: 50px;
    border: none;
}
.twelve-content form .sub-btn{
    position: absolute;
    border-radius: 50px;
    height: 70px;
    right: 5px;
    top: 5px;
} 
.sub-btn{
  z-index: 1;
  border: none;
  padding: 12px 35px;
  display: inline-block;
  background:linear-gradient(247.32deg, #4400B2 0%, #8B4FEB 70.53%) ;
  color: white;
}
.curved-shape{
  position: absolute;
  top: -46px;
  left: -55px;
  animation: movebounce 5s linear infinite;
}
@keyframes movebounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(5px);}
	60% {transform: translateY(5px);}
}



/* Footer Div */
.footer{
  background-color:#262A37;
  position: relative;
  z-index: 1;
  padding-top: 100px;
}
.footer .footer-widget{
  margin-bottom: 30px;
}
.footer-widget .logo{
  display: inline-block;
  margin-bottom: 15px;
}
.footer-widget .social-links{
    padding-left: 0;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 0;
}
   .footer-widget .social-links li{
    display: inline-block;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
   }
    .footer-widget .social-links li a{
   width: 35px;
    height: 35px;
    background: white;
    color: #716c80;
    position: relative;
    border-radius: 50%;
    line-height: 35px;
    display: block;
    font-size: 16px;
    z-index: 1;
  }
  .footer-widget .social-links li:first-child{
    margin-left: 0;
  }
  .footer-widget .social-links li:last-child{
    margin-right: 0;
  }
  .footer-widget h3{
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  }
  .footer-widget .links-list{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  .footer-widget .links-list li{
    margin-bottom: 15px;

  }
  .footer-widget .links-list a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  .copyright{
    border-top: 1px solid #e4e5ea14;
    text-align: center;
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-image{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
/* Media Query */
@media only screen and (max-width: 900px){
.hero-image img{
  max-width: 100%;
}
}
